<button
    type="button"
    class="btn btn-icon content-variable-update-priorities update-bulk-action submit-bulk-actions-form"
    disabled
    title="{{ title }}"
    data-form="#{{ form_id }}"
    data-action-element="#{{ form_id }}_action"
    data-action="{{ action }}"
    data-submit-button="#{{ form_id }}_do_action"
>
    <svg class="ez-icon ez-icon-trash">
        <use xlink:href="{{ asset('bundles/ezplatformcontentvariables/img/icons.svg') }}#sort-order"/>
    </svg>
</button>
