{% extends '@ezdesign/ui/menu/sidebar_base.html.twig' %}

{% block item -%}
    {%- set default_classes = 'btn btn-dark' ~ (matcher.isCurrent(item) ? ' ' ~ options.currentClass) -%}
    {{ parent() }}
{%- endblock %}
